* {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#color-selector {
    position: fixed;
    top: 0;
    right: 0;
    width: 8vh;
    height: 8vh;
    background: black;
}

.marker {
    width: 100%;
    height: 100%;
    float: left;
}

.marker.selected {
    border: 2px solid white;
}

body {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}